.edu-title-holder {
    text-align: center;
}


.edu-row {
    text-align: center;
}

.school {
    font-weight: 600;
    font-size: 33px;
    margin-top: 50px;
}

.school-grad {
    font-size: 32px;
    font-weight: 600;
    margin: 50px auto;

    &.uh {
        margin: 100px auto;
    }
}

.school-ud {
    font-size: 30px;
    font-weight: 400;
    margin: 20px auto;
}

.edu-splitter::after {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 35%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0) 100%);
}

.education-history-holder {
    margin: 15px auto 40px;
}