.about-page-container {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    overflow: hidden;
}

.about-page-tab-holder {
    background-color: rgba(0,0,0,.8);
    border-right: 5px solid rgba(255,255,255,.7);
}

.about-page-info-display-holder {
    background-color: rgba(0,0,0,.6);
}

.about-title-holder {
    height: 15%;
    max-height: 15%;
}

.about-title {
    color: rgba(255,255,255, .9);
    text-align: center;
    font-size: 45px;
    font-family: 'Exo', sans-serif;
    font-weight: 900;
    margin: auto;
}

.about-page-tabs-body {
    height: 80%;
    max-height: 80%;
}

.about-page-tabs {
    justify-content: start !important;
}

.about-tab {
    color: rgba(219, 219, 219, 0.9);
    text-align: center;
    font-size: 40px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    margin: auto;
    white-space: pre-wrap;
    cursor: pointer;
    z-index: 2;
}

.tab-holder {
    margin:auto;
    height: 16.6666666%;
    max-height: 16.6666666%;
}


.tabs-body-holder {
    height: 100%;
}

.hover-animations {
    position: absolute;
    top: 8.33333333%;
    left: 50%;
    width: 0%;
    height: 0%;
    background: -webkit-radial-gradient(center, ellipse cover rgba(255,255,255,0.35) 0%,rgba(0,0,0,0) 75%);
    transition: linear .5s all;
    -moz-transition: linear .5s all;
    -webkit-transition: linear .5s all;
    z-index: 1;
}

.h-ani-1 {
    top: 24.9999999%;
}

.h-ani-2 {
    top: 41.6666666%;
}

.h-ani-3 {
    top: 58.3333333%;
}

.h-ani-4 {
    top: 74.9999999%;
}

.h-ani-5 {
    top: 91.6666666%;
}



.tab-holder::after {
    content: '';
    position: absolute;
    left: 50%;
    height: 0%;
    width: 0%;
    transition: linear 1.5s all;
    -moz-transition: linear 1.5s all;
    -webkit-transition: linear 1.5s all;
}

.tab-holder:hover .hover-animations{
    left: 0%;
    top: 0%;
    height: 16.6666666%;
    width: 92%;
    &.h-ani-1 {
        top: 16.6666666%;
    }
    &.h-ani-2 {
        top: 33.3333333%;
    }
    &.h-ani-3 {
        top: 49.9999999%;
    }
    &.h-ani-4 {
        top: 66.6666666%;
    }
    &.h-ani-5 {
        top: 83.6666666%;
    }
}

.about-display {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 3px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, .5);
    }
}

.about-display-body {
    padding: 15px 5px 25px;
}

.about-display-title-holder {
    margin: auto;
}

.about-display-title {
    margin: auto;
    padding-left: 30px;
    padding-top: 15px;
    font-size: 70px;
    font-family: 'Baloo Tammudu', cursive;
    color: white;
    text-align: left;
}

.about-display-hr {
    margin-top: -2rem;
    margin-left: -.6rem;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 10%, rgba(255, 255, 255, 0.75) 20%, rgba(255, 255, 255, 0) 80%);
}

.about-display-content {
    margin:auto;
}

.edu-title-holder {
    text-align: center;
}


.edu-row {
    text-align: center;
}

.school {
    font-weight: 600;
    font-size: 21px;
}

.school-grad {
    font-size: 18px;
    font-weight: 600;
}

.school-ud {
    font-size: 16px;
    font-weight: 400;
    margin: auto;
}

.edu-splitter::after {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 35%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0) 100%);
}

.education-history-holder {
    margin: 15px auto 40px;
}