.exp-hover-ani {
    position: absolute;
    bottom: -10%;
    left: 0%;
    opacity: 0;
    width: 5px;
    height: 5px;
    background-color: white;
}

.exp-tab:hover {
    .exp-hover-ani{
        animation: expWrap 1s linear 0s 1 alternate;
    }
}

@keyframes expWrap {
    0% {
        opacity: 0;
        bottom: -10%;
        left: 0%;
    }

    15% {
        opacity: .75;
        bottom: 99%;
        left: 0%;
    }
    75% {
        opacity: 1;
        bottom: 99%;
        left: 100%;
    }

    100% {
        opacity: 0;
        bottom: 0%;
        left: 100%;
    }
}