/*
  Laptops & Desktops 1200px - 1600px
*/

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1281px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1281px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}



/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #canvas {
      max-width: 400px;
      max-height: 400px;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    #canvas {
      max-width: 400px;
      max-height: 400px;
    }
}



/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #canvas {
      max-width: 300px;
      max-height: 300px;
    }

    .load-page-button {
      max-width: 9rem;
    }


}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    #canvas {
      max-width: 300px;
      max-height: 300px;
    }

    .load-page-button {
      max-width: 9rem;
    }


}



/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 481px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #canvas {
      max-width: 200px;
      max-height: 200px;
    }

    .load-page-button {
      max-width: 5rem;
    }

    .my-navbar {
      border-right: 4rem solid rgba(0,0,0,.8);
      border-top-right-radius: 4rem;
      border-bottom-right-radius: 4rem;
    }

    .my-nav-icon {
      right: -4rem;
      width: 4rem;
    }

    .icon-line1, .icon-line2, .icon-line3 {
      width: 2.7rem;
    }

    .nav-icon-border {
      right: -10px;
      border-right: .65rem solid rgba(0, 0, 0, 0.8);
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    .my-nav-item a { 
      font-size: 2rem;
    }

    .nav-name {
      
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 481px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    #canvas {
      max-width: 200px;
      max-height: 200px;
    }

    .load-page-button {
      max-width: 5rem;
    }

    .my-navbar {
      border-right: 4rem solid rgba(0,0,0,.8);
      border-top-right-radius: 4rem;
      border-bottom-right-radius: 4rem;
    }

    .my-nav-icon {
      right: -4rem;
      width: 4rem;
    }

    .icon-line1, .icon-line2, .icon-line3 {
      width: 2.7rem;
    }

    .nav-icon-border {
      right: -10px;
      border-right: .65rem solid rgba(0, 0, 0, 0.8);
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    .my-nav-item a { 
      font-size: 2rem;
    }

    .nav-name {
      
    }
}



/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #canvas {
      max-width: 150px;
      max-height: 150px;
    }

    .load-page-button {
      max-width: 5rem;
    }

    .my-navbar {
      border-right: 3rem solid rgba(0,0,0,.8);
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;
    }

    .nav-entered {
      border: transparent;
    }

    .my-nav-icon {
      right: -4rem;
      width: 4rem;
    }

    .my-nav-entered {
      width: 0rem;
      height: 0rem;
      right: 50%;
      top: 65%;
    }

    .icon-line1, .icon-line2, .icon-line3 {
      width: 2.7rem;
    }


    .rotate1-entered, .rotate2-entered, .rotate3-entered {
      width: 5rem;
      margin-left: -2.5rem;
    }

    .nav-icon-border {
      right: 6px;
      border-right: .65rem solid rgba(0, 0, 0, 0.8);
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    .my-nav-item a { 
      font-size: 1.5rem;
      margin: auto;
    }

    .nav-name {
      max-width: 300px;
      max-height: 50px;
      margin: 50px auto auto auto;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    #canvas {
      max-width: 150px;
      max-height: 150px;
    }

    .load-page-button {
      max-width: 5rem;
    }

    .my-navbar {
      border-right: 3rem solid rgba(0,0,0,.8);
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;
    }

    .nav-entered {
      border: transparent;
    }

    .my-nav-icon {
      right: -4rem;
      width: 4rem;
    }

    .my-nav-entered {
      width: 0rem;
      height: 0rem;
      right: 50%;
      top: 65%;
    }

    .my-nav-item a { 
      font-size: 1.5rem;
      margin: auto;
    }

    .icon-line1, .icon-line2, .icon-line3 {
      width: 2.7rem;
    }

    .rotate1-entered, .rotate2-entered, .rotate3-entered {
      width: 5rem;
      margin-left: -2.5rem;
    }

    .nav-icon-border {
      right: 6px;
      border-right: .65rem solid rgba(0, 0, 0, 0.8);
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    .nav-name {
      max-width: 300px;
      max-height: 50px;
      margin: 50px auto auto auto;
    }
}

