.start-button{
    transition: fill 500ms;
    opacity: inherit;
}

.outer-circle {
	transform-origin: 60px 60px;
    transition: transform 2s cubic-bezier(0.620, 0.005, 0.000, 1.005);

    &.start-spin {
        animation: maxRotate 5s 1;
        opacity: 0;
        transition: linear 5s opacity 2s;
        -moz-transition: linear 5s opacity 2s;
        -webkit-transition: linear 5s opacity 2s;
    }

    &.spinning {
        animation: rotating 6s infinite;
    }
    
}

.inner-circle {
    opacity: 0;
}

#load-svg {
    width: 100%;
    height: auto;
}


.load-page-button {
	max-width: 12rem;
	background: none;
	border: 0 none;
	font-size: 0;
    cursor: pointer;
    
    &:hover {
        .spinning {
            animation: fullRotate 1s infinite;
        }

        .start-button {
            fill: rgb(82, 52, 252);
        }


    }
	
}


.load-btn {
    height: 100%;    
    opacity: 0;
}
  
.entered {
    opacity: 1;
    transition: linear 2s opacity 1s;
    -moz-transition: linear 2s opacity 1s;
    -webkit-transition: linear 2s opacity 1s;
}
.exiting {
    opacity: 0;
    transition: linear 4s opacity 1s;
    -moz-transition: linear 4s opacity 1s;
    -webkit-transition: linear 4s opacity 1s;
}


@keyframes rotating {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(0deg)

    }
}

@keyframes fullRotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)

    }
}

@keyframes maxRotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(1800deg)

    }
}


